<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="map">
    <!-- <button ion-button (click)="onButtonClick($event)">Start demo</button> -->
  </div>
</ion-content>
