page-permission {
    ion-content {
        background-color: transparent !important;
        .allowLocation {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: calc(100% - 28px);
            text-align: center;
            background: #fff;
            border-radius: 10px 10px;
            padding: 29px 14px;
        }
        h2{
            font-size: 18px;
            font-weight: 600;
            line-height: 1.33;
            color: #323b45;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            text-align: center;
            color: #323b45;
            margin-bottom: 28px;
        }
        .allow-btn {
                border-radius: 26px;
                background-color: #f45049;
                box-shadow: 0 4px 8px 0 #f9d4d1;
                font-size: 16px;
                font-weight: 600;
                line-height: 0.69;
                letter-spacing: 0.5px;
                text-align: center;
                color: #ffffff;
                padding: 20px 0;
                width:80%;
                margin: auto;
                margin-bottom: 25px;
                text-transform: uppercase;
        }
        .deny-btn {
            background: transparent;
            opacity: 0.5;
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.69;
            letter-spacing: 0.5px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}
