<!--
  Generated template for the PermissionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div class="allowLocation">
    <h2>Allow Location Services</h2>
    <p>This app will use your location services to find activities around you.</p>
    <button class="allow-btn" (click)="allowRequest()">Allow</button>
    <br/>
    <button class="deny-btn" (click)="denyRequest()">Deny</button>
  </div>
</ion-content>
